.table-1{
  border: 2px solid black;
}
h3{
  text-align: center;
  margin: 20px;
}
input{
  width: 300px;
  height: 40px;
  border: 0.1px solid black;
  margin: 20px;
  text-align: center;
  border-radius: 20px;
}
.input.hover{
border: 0.1px solid black;
}